.gallery-box {
    display: flex;
    justify-content: space-evenly;

    img {
        width: 200px;
        aspect-ratio: 1/1;
    }

    h3 {
        width: 200px;
        align-self: center;
        color: var(--clr-blue);
    }

    .gallery__info {
        display: flex;
        flex-direction: column;
        width: 50%;

        h3 {
            width: 100%;
        }
    }
}